{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="reset-form container-fluid text-center p-3">
        <div class="m-2 p-3">
            <h1>Mot de passe oublié</h1>
            {{ form(passwordForgottenForm) }}
        </div>
    </div>
{% endblock %}
