{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="reset-form container-fluid text-center p-3">
        <div class="m-2 p-3">
            <h1>Réinitialisation du mot de passe</h1>
            {{ form(resetPasswordForm) }}
        </div>
    </div>
{% endblock %}
