<h1>Bonjour {{ user.username }}!</h1>

<p>
    Veuillez confirmer votre email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ absolute_url(path('verify_user', {token: token})) }}">Valider mon email</a>.
    Ce lien expirera dans 1 heure.
</p>

<p>
    Support SnowTricks
</p>
