<h1>Bonjour {{ userBdd.username }}!</h1>

<p>
    Vous avez effectué une demande de reinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous: <br><br>
    <a href="{{ absolute_url(path('reset_user_password', {email: userBdd.email,token: token})) }}">Modifier mon mot de passe</a>.
    Si vous n'êtes pas à l'origine de cette demande, ne prenez pas compte de ce mail, ce lien expirera dans 1 heure.
</p>

<p>
    Support SnowTricks
</p>
